<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327618344631-47sbfd7t9v9tsfbkukjs83u7p18l4070.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327618344631-47sbfd7t9v9tsfbkukjs83u7p18l4070</string>
	<key>API_KEY</key>
	<string>AIzaSyCdcuy_FkDOhL0sfldPfWvV59W5hoPtstQ</string>
	<key>GCM_SENDER_ID</key>
	<string>327618344631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checka.firebasedatabase</string>
	<key>PROJECT_ID</key>
	<string>fir-database-f7da2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-f7da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327618344631:ios:6bf214d3f012efe5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-database-f7da2.firebaseio.com</string>
</dict>
</plist>